<a class="btn" onclick="window.history.back();void(0);" data-placement="bottom" data-toggle="tooltip" title="<%= t('helpers.links.back') %>">
  <i class="icon-arrow-left"></i>
</a>
<a class="btn" onclick="window.location.reload();void(0);" data-placement="bottom" data-toggle="tooltip" title="<%= t('helpers.links.refresh') %>">
  <i class="icon-repeat"></i>
</a>
<a class="btn" onclick="window.history.forward();void(0);" data-placement="bottom" data-toggle="tooltip" title="<%= t('helpers.links.forward') %>">
  <i class="icon-arrow-right"></i>
</a>

